# Ignore .env files to prevent exposing sensitive data
.env
prePublish.md
notes.txt
*MenuExport*
structure.md

 Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

